<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<integer>223</integer>
		<integer>247</integer>
		<integer>186</integer>
		<integer>300</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>256</integer>
		<integer>196</integer>
		<integer>250</integer>
		<integer>193</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>105</integer>
		<integer>105</integer>
		<integer>376</integer>
		<integer>246</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>226</integer>
		<integer>278</integer>
		<integer>224</integer>
		<integer>239</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>136</integer>
		<integer>253</integer>
		<integer>264</integer>
		<integer>303</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>118</integer>
		<integer>400</integer>
		<integer>240</integer>
		<integer>375</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>250</integer>
		<integer>260</integer>
		<integer>260</integer>
		<integer>250</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>113</integer>
		<integer>166</integer>
		<integer>325</integer>
		<integer>254</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>188</integer>
		<integer>279</integer>
		<integer>301</integer>
		<integer>257</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>260</integer>
		<integer>284</integer>
		<integer>220</integer>
		<integer>335</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>260</integer>
		<integer>284</integer>
		<integer>220</integer>
		<integer>335</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>100</integer>
		<integer>100</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>262</integer>
		<integer>198</integer>
		<integer>220</integer>
		<integer>194</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>152</integer>
		<integer>138</integer>
		<integer>308</integer>
		<integer>286</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>152</integer>
		<integer>138</integer>
		<integer>308</integer>
		<integer>286</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>235</integer>
		<integer>358</integer>
		<integer>230</integer>
		<integer>368</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>371</integer>
		<integer>269</integer>
		<integer>324</integer>
		<integer>284</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>371</integer>
		<integer>269</integer>
		<integer>324</integer>
		<integer>284</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>200</integer>
		<integer>200</integer>
		<integer>299</integer>
		<integer>277</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>200</integer>
		<integer>200</integer>
		<integer>200</integer>
		<integer>200</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>56</integer>
		<integer>210</integer>
		<integer>90</integer>
		<integer>340</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>288</integer>
		<integer>288</integer>
		<integer>288</integer>
		<integer>288</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>288</integer>
		<integer>288</integer>
		<integer>288</integer>
		<integer>288</integer>
		<integer>0</integer>
	</array>
	<array>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>0</integer>
	</array>
</array>
</plist>
